@charset 'utf-8';

#convert tr > td {
  width: 1px;
  height: 1px;
}

canvas#canvas,
div#tabel-container,
table#convert,
input#html-export {
  margin: 0 auto;
}

canvas#canvas,
div#tabel-container,
input#html-export,
div#result > div:hover:after { display: block; }

div#result-before,
div#result-after {
  position: relative;
}

div#result > div:after {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 8px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(155, 89, 182, .8);
  border-radius: 2px;
  line-height: 1.2rem;
  display: none;
}

div#result-before:after { content: 'Before'; }
div#result-after:after { content: 'After'; }

textarea#convert-html {
  width: 100%;
}
