.card {
  width: 200px;
  height: 80px;
  padding: 16px;
  text-align: center;

  > * {
    word-break: break-all;
    font-feature-settings: "palt";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h5 {
    font-size: 1rem;
    margin: 0 0 8px;
  }

  p {
    margin: 0;
    color: #c0c0c0;
  }
}
